
@{
    ViewBag.Title = "Paddy DataTable";
}

<h2>Paddy</h2>
<div style="width:90%";margin:0 auto;">
    <table id="myTable">
        <thead>
            <tr>
                <th>Description</th>
                <th>Supermarket</th>
                <th>Price</th>
            </tr>
        </thead>
    </table>
</div>

@* Load css *@
<link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />

@section Scripts{
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "ajax": {
                    url: '/Paddy/loaddata',
                    type: 'GET',
                    datatype: 'json'
                },
                "columns": [
                    { "data": "Description", "autoWidth": true },
                    { "data": "Supermarket", "autoWidth": true },
                    { "data": "Price", "autoWidth": true }
                ]
            });
        });
    </script>
}