
@{
    ViewBag.Title = "Search";
}
<link href="~/Content/Site.css" rel="stylesheet" />
@* jQuery DataTables *@
<br />
<div class="container" style="margin-bottom: 4px">
    <div class="rows">
        <div>
                        @*<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Responsive -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-6141130965301506"
             data-ad-slot="3052138289"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>*@
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 ">
            <table id="myTable" class="cell-border table-striped compact" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Supermarket</th>
                        <th>Price</th>
                        <th>Offers</th>
                        <th>Section</th>
                        <th>Brand</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-3 hidden-xs">
           @* <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Responsive -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-6141130965301506"
                     data-ad-slot="3052138289"
                     data-ad-format="auto"></ins>
                <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                </script>*@
            </div>
        </div>
    </div>
    <div class="container">
        <div class="rows">
            <div>
                @*<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Responsive -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-6141130965301506"
                     data-ad-slot="3052138289"
                     data-ad-format="auto"></ins>
                <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                </script>*@
            </div>
        </div>
    </div>

    @* jQuery DataTables css *@
<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
@* jQuery *@
@section Scripts{
    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready(function () {

            //jQuery DataTables initialization
            $('#myTable').DataTable({
                "processing": true, // for show processing bar
                "responsive": true,
                "serverSide": true, // for process on server side
               // "orderMulti": false, // for disable multi column order
                //"dom": '<"top"i>rt<"bottom"lp><"clear">', // for hide default global search box // little confusion? don't worry I explained in the tutorial website
                "ajax": {
                    "url": "/Supermarkets/LoadCSP_auto",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Description", "autoWidth": true },
                    { "data": "Supermarket", "autoWidth": true },
                //    { "data": "Supermarket", "render": function (data, type, full, meta) { return '<a href="http://christownhill.com/supermarkets/search/' + data + '">' + data + '</a>'; } }

                    { "data": "Price", "autoWidth": true },
                    { "data": "Offers", "autoWidth": true },
                  //  { "data": "Section", "autoWidth": true },
                   // { "data": "Section", "render": function (data, type, full, meta) { data = data.replace("&", "and").replace(",", " ").replace("search", ""); return '<a href="search/' + data + '">' + data + '</a>'; } }
                 //   { "data": "Section", "render": function (data, type, full, meta) { data = data.replace("&", "and").replace(",", " ").replace("search", ""); return '<a href="http://localhost:37711/supermarkets/search/' + data + '">' + data + '</a>'; } }
                 //    { "data": "Section", "render": function (data, type, full, meta) { data = data.replace("&", "and").replace(",", " ").replace("search", ""); return '<a href="http://christownhill.com/supermarkets/search/' + data + '">' + data + '</a>'; } }
                       { "data": "Section", "render": function (data, type, full, meta) { data = data.replace("&", "and").replace(",", " ").replace("search", ""); return '<a href="http://comparesupermarketprices.co.uk/supermarkets/search/' + data + '">' + data + '</a>'; } },
                       { "data": "Brand", "render": function (data, type, full, meta) { data = data.replace("&", "and").replace(",", " ").replace("search", ""); return '<a href="http://comparesupermarketprices.co.uk/supermarkets/search/' + data + '">' + data + '</a>'; } }

                    //{ "data": "Shelf", "autoWidth": true }
                ],
                "pageLength": @ViewBag.pageLength,
                "lengthMenu": [[10, 25, 50], [10, 25, 50]],
                "search": {
                    "search": '@ViewBag.search'
                }
            });

            $('div.dataTables_filter input').focus();
            $('div.dataTables_filter input').attr("placeholder","Search...");

        });
    </script>
}
